*~
*.*~
*.mo
*.py[co]
*.tmproj
*.egg-info
.vagrant
.installed.cfg
.mr.developer.cfg
bin
var
eggs
parts
backup
uuid.txt
products
downloads
local.cfg
develop-eggs
PloneController.app
rebuild_i18n.log
adminPassword.txt
lib/
.idea/
.env/
local/
include/
src/plone.restapi/
src/wstools/
**/node_modules/
**/dist/
**/log.html
**/output.xml
**/report.html
**/npm-debug.log
**/tslint-report
**/TESTS-*.xml
!src/vnccollab.theme/vnccollab/theme/dist
/docs/html
/docs/doctrees
/docs/make.bat
/docs/Makefile
/docs/swagger/build
src/collective.solr/
export/
mails/
*.retry
.DS_Store
vncTalk
uxf/selenium-debug.log
